* {
  box-sizing: border-box;
  font-family: "Raleway";
  margin: 0px;
}

.animating {
  transition-duration: 300ms;
  background-color: #006eff !important;
  color: white !important;
}

#rir {
  font-size: 0.75rem;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
body.dark {
  filter: invert(1);
  background-color: rgb(20, 20, 20);
}
body.dark .err {
  filter: invert(1);
  background-color: rgb(49, 0, 0) !important;
  color: rgb(255, 102, 102) !important;
}
body.dark #asminptext {
  font-weight: bold;
}
body.dark button {
  filter: invert(1);
}
body.dark .value {
  filter: invert(1);
}

#main {
  transition-duration: 400ms;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  padding: 5rem;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}
#main .task2only {
  display: none;
}
#main.task2 {
  max-width: 1200px;
  padding: 2rem;
  grid-template-columns: 3fr 1fr;
}
#main.task2 .task2only {
  display: unset;
}
#main.task2 #rightUI {
  gap: 4rem;
  grid-template-rows: 1fr;
}
#main.task2 #rightUI #mem {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
#main.task2 #rightUI #mem #asmoutput2 {
  width: 100%;
  margin-top: 1rem;
  height: 100px;
  display: block;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(228, 228, 228);
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  border: 0px;
  resize: none;
  transition-duration: 300ms;
}
#main.task2 #leftUI {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
}
#main.task2 #leftUI > * {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
#main.task2 #leftUI #regs {
  order: 1;
  grid-column: 2/4;
}
#main.task2 #leftUI #alu {
  order: 3;
  grid-column: 2/3;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}
#main.task2 #leftUI #alu > div {
  display: grid;
  gap: 0.25rem;
}
#main.task2 #leftUI #alu .value {
  background-color: rgb(228, 228, 228);
  min-height: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 228, 228);
  border-radius: 100rem;
  padding: 0.2rem 1rem;
  letter-spacing: 6px;
  font-family: "Courier New", Courier, monospace;
}
#main.task2 #leftUI #cu, #main.task2 #leftUI #alu {
  position: relative;
}
#main.task2 #leftUI #cu .cycletext, #main.task2 #leftUI #alu .cycletext {
  display: none;
}
#main.task2 #leftUI #cu img, #main.task2 #leftUI #alu img {
  display: none;
}
#main.task2 #leftUI #cu.animate .cycletext, #main.task2 #leftUI #alu.animate .cycletext {
  display: block;
  position: absolute;
  top: -30px;
  color: blue;
  font-size: 1rem;
}
#main.task2 #leftUI #cu.animate img, #main.task2 #leftUI #alu.animate img {
  width: 50px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-animation: rotation 0.5s infinite linear;
          animation: rotation 0.5s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#main.task2 #leftUI #cu {
  order: 4;
  grid-column: 3/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 300px;
}
#main.task2 #leftUI #cu > div {
  width: 100%;
  display: grid;
  gap: 0.25rem;
}
#main.task2 #leftUI #cu .value {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 228, 228);
  min-height: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgb(228, 228, 228);
  border-radius: 100rem;
  padding: 0.2rem 1rem;
  letter-spacing: 6px;
  font-family: "Courier New", Courier, monospace;
}
#main.task2 #leftUI #bu {
  order: 5;
}
#main.task2 #leftUI #asminp {
  order: 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 1rem;
}
#main.task2 #leftUI #asminp #asminpheader {
  align-items: center;
}
#main.task2 #leftUI #asminp #asminpheader .heading, #main.task2 #leftUI #asminp #asminpheader #asmbbtn {
  display: none;
}
#main.task2 #leftUI #regs {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
#main.task2 #asminpcontainer {
  display: flex;
  width: 100%;
  grid-template-rows: none !important;
}
#main.task2 #asminpcontainer #asminptext {
  display: none;
}
#main.task2 #asminpcontainer #asmoutput {
  font-size: 0.5rem !important;
  padding: 0.25rem !important;
  height: 80px !important;
  overflow-y: hidden;
}
#main .card {
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.099);
  transition-duration: 200ms;
  border-radius: 1rem;
  padding: 2rem;
}
#main .card:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.199);
  transition-duration: 200ms;
}
#main .card .heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
#main #rightUI {
  display: grid;
  grid-template-rows: 3.5fr 2fr;
  gap: 1rem;
}
#main #leftUI {
  gap: 1rem;
  min-height: 50vh;
  display: flex;
}
#main #asminp {
  gap: 1rem;
  grid-template-rows: 0.75fr 4fr;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#main #asminp #asminpheader {
  display: flex;
  align-items: flex-start;
  justify-content: right;
  gap: 0.25rem;
}
#main #asminp #asminpheader .heading {
  font-size: 1.5rem !important;
  margin: 0px;
  width: 100%;
  justify-self: left;
}
#main #asminp #asminpheader button {
  border-radius: 0.5rem;
  border: 0px;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  opacity: 1;
  transition-duration: 500ms;
  min-width: 30px;
  background: rgb(113, 6, 236);
  background: linear-gradient(90deg, rgb(6, 132, 236) 0%, rgb(0, 27, 219) 49%, rgb(93, 0, 255) 100%);
  color: white;
  font-weight: bold;
}
#main #asminp #asminpheader button img {
  width: 90%;
}
#main #asminp #asminpheader button img.invert {
  filter: invert(1);
}
#main #asminp #asminpheader button:hover {
  opacity: 0.7;
  transition-duration: 500ms;
}
#main #asminp #asminpheader button:disabled {
  opacity: 0.5;
  cursor: default;
}
#main #asminp #asminpcontainer {
  display: grid;
  width: 100%;
  gap: 0.5rem;
  height: 100%;
  grid-template-rows: 1.75fr 1fr;
}
#main #asminp #asminpcontainer #asmoutput {
  height: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(228, 228, 228);
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  border: 0px;
  resize: none;
  transition-duration: 300ms;
}
#main #asminp #asminpcontainer #asmoutput.err {
  background-color: rgb(255, 226, 226);
  color: rgb(255, 63, 63);
  transition-duration: 300ms;
}
#main #asminp #asminpcontainer #asminptext {
  height: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-family: "Courier New", Courier, monospace;
}
#main #regs {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
}
#main #regs .register {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
#main #regs .register .title {
  font-weight: bold;
}
#main #regs .register .value {
  background-color: rgb(228, 228, 228);
  color: black;
  border-radius: 100rem;
  transition-duration: 300ms;
  padding: 0.2rem 1rem;
  letter-spacing: 6px;
  font-family: "Courier New", Courier, monospace;
}
#main #alu {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
#main #alu .heading {
  margin-bottom: 0rem;
}
#main #mem {
  padding: 2rem;
}
#main #mem #asmoutput2 {
  display: none;
}
#main #mem #memlocs {
  display: grid;
  grid-auto-flow: column;
  font-size: 0.8rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
  justify-content: start;
  align-items: center;
  max-height: 100%;
}
#main #mem #memlocs .memloc {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
#main #mem #memlocs .memloc .addr {
  font-weight: bold;
}
#main #mem #memlocs .memloc .value {
  background-color: rgb(228, 228, 228);
  border-radius: 100rem;
  padding: 0.2rem 1rem;
  letter-spacing: 6px;
  font-family: "Courier New", Courier, monospace;
}

@media only screen and (max-width: 720px) {
  #main {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1rem;
    padding-bottom: 3rem;
    width: 100%;
  }
  #main #leftUI {
    display: flex;
  }
  #main #asminp {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #main #asminp #asminpcontainer {
    grid-template-rows: 1.75fr 1fr;
    grid-template-columns: 1fr;
  }
}
.tooltip {
  position: relative;
  display: inline-block;
  outline: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 0px;
  opacity: 0;
  transition-duration: 300ms;
  transition-delay: 0ms;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-delay: 500ms;
  transition-duration: 300ms;
}

.tooltip:focus .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-delay: 0ms;
  opacity: 0.75;
  transition-duration: 300ms;
}/*# sourceMappingURL=index.css.map */